<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.tencent.hoollyzhang.mbus"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:name="com.brzhang.mbus.BusApplication"
        android:allowBackup="true"
        android:icon="@drawable/bus"
        android:label="@string/app_name"
        android:theme="@style/Sherlock.__Theme.Light">
        <activity
            android:name="com.brzhang.mbus.view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.brzhang.mbus.view.BusActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.brzhang.mbus.view.AddBusLineActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.brzhang.mbus.view.AddBusDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.brzhang.mbus.view.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
